@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<div class="container d-flex" style="width:700rem">
         <div class="row">
             <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <img src="~/Images/l2.png" width="200rem"/>
                      <h3> Chennai Library</h3>

                    
                      <p>No: 2, Fake street, Chennai - 600986</p>

                      <p>Email ID: chenlib@lib.com</p>

                      <p>Drop us a mail and we will try to answer your query as soon as possible</p>

                 @*     <button class="btn btn-out btn-square"> CONTACT NOW</button>*@
                        
                           

                    </div>
                </div>
             </div>
         </div>
        </div>