@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Chennai Library!</h1>
    <br />
    <br />
    <nav class="nav flex-column">
            <a class="nav-item text-decoration-none" asp-controller="Login" asp-action="userLogin">User Login</a>
            <a class="nav-item text-decoration-none pe-0 ps-0" asp-controller="Home" asp-action="Login">Admin Login</a>
    </nav>
   
</div>


@*//ctrl+k+d*@